/*01-------fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/*02------config-html------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
}

/*03------common-properties------*/
body, .container-response, .figure-star, .rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure-star, .rating {
    width: 48px;
    height: 48px;
}

/*04------containers------*/
.container-feedback {
    padding: 1.5rem;
    max-width: 45%;
}

.container-feedback, .container-response {
    background-color: hsl(213, 19%, 18%);;
    margin: 0 auto;
    border-radius: 30px;
}

.container-response {
    max-width: 48%;
    padding: 2.4rem 1rem;
    flex-direction: column;
    text-align: center;
}

/*05------star------*/ 
.figure-star {
    background-color:  #26323D;
    border-radius: 50%;
    margin-bottom: 1.4rem;
}

/*06------title-and-paragraph------*/
.title-feedback h1, .title-response h1 {
    font-size: 1.72rem;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.title-feedback p, .title-response p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 1.3rem;
}

/*07------ratings------*/ 
input {
    display: none;
}

.box-rating {
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-between;
}

.rating {
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    background-color: #394652;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

input:checked + .rating {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.value-rating {
    background-color:#26323D;
    color:  hsl(25, 97%, 53%);
    margin: 1.4rem 0;
    width: 55%;
    padding: 0.3rem;
    border-radius: 20px;
}

/*08------button------*/
.submit-button{
    width: 100%;
    font-size: 0.9rem;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
    padding: 1rem;
    border-radius: 20px;
    border: none;
}

.submit-button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

/*09------responsive------*/
@media (max-width: 778px){
   .container-feedback {
    width: 796px;
   }
}

@media (max-width: 746px){
    .container-response {
        width: 746px;
    }
}

/*10------tags-javascript------*/
.hidden {
    display: none;
}









